.LoginContainer {
  width: 100%;
  margin-top: 69px;
  display: flex;
  justify-content: center;
  position: relative;
}

.BackImg {
  width: 100%;
  filter: brightness(70%);
  object-fit: cover;
  object-position: 50% 50%;
}

.LoginFormContainer {
  width: 30%;
  position: absolute;
  background-color: white;
  padding: 90px 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}

.LoginInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: black;
  box-sizing: border-box;
}

.LoginSubmit {
  text-align: center;
  background: #50c7b3;
  color: white;
  margin-top: 20px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.authError {
  display: block;
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #50c7b3;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .LoginContainer {
    margin-top: 80px;
    height: 600px;
  }
  .LoginFormContainer {
    width: 70%;
    padding: 30px 20px;
  }
}
