.IntroParents {
  margin-top: 69px;
  height: 100%;
}

.IntroIntro {
  background: rgb(62, 204, 181);
  height: 238px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.IntroTitle {
  margin-top: 10%;
  font-size: 46px;
  letter-spacing: 0.0599999997926795em;
  font-family: 맑은 고딕, malgun gothic, apple sd gothic neo, applegothic,
    sans-serif;
  font-weight: bold;
}

.IntroImages {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1 30%;
}

.IntroImages img {
  height: 100%;
  width: 100%;
}

.room4Box,
.room6Box,
.room10Box,
.room20Box {
  height: 400px;
  position: relative;
}

.room4Box :not(:hover),
.room6Box :not(:hover),
.room10Box :not(:hover),
.room20Box :not(:hover) {
  transition: 1s;
}

.room4Box :hover,
.room6Box :hover,
.room10Box :hover,
.room20Box :hover {
  transition: 1s;
  filter: brightness(70%);
}

.overlay {
  margin: 0 auto;
  position: absolute;
  display: flex;
  width: 250px;
  height: 50px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: white;

  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 1;

  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -25px;

  transition: 1s;
}

.room4Box:hover .overlay,
.room6Box:hover .overlay,
.room10Box:hover .overlay,
.room20Box:hover .overlay {
  opacity: 1;
  transition: 1s;
  color: white;
}

.overlay {
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .IntroImages {
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .IntroParents {
    margin-top: 80px;
  }

  .room4Box,
  .room6Box,
  .room10Box,
  .room20Box {
    height: 200px;
    position: relative;
  }

  .IntroTitle {
    font-size: 40px;
  }

  .overlay {
    font-size: 30px;
  }
}
