.bgContainer {
  height: fit-content;
  opacity: 0;
  transition: 0.25s;
}

.bgImage {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.container {
  opacity: 0;
  margin-top: 3%;
  width: 43%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
  transition: 3s;
}

.mountedContainer,
.mountedBgContainer {
  opacity: 1;
}

.container h1 {
  padding-top: 10%;
  font-size: 36px;
  font-weight: 650;
  text-align: center;
}

.container h2 {
  padding-top: 3%;
  font-size: 20px;
  text-align: center;
}

.infoBox div {
  width: 50%;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.iconBox1 {
  display: flex;
  padding-top: 7.5%;
}

.iconBox1 i {
  flex: 1;
  font-size: 40px;
  text-align: center;
}

.iconBox2 {
  display: flex;
  padding-top: 2.5%;
}

.iconBox2 span {
  flex: 1;
  font-size: 15px;
  text-align: center;
}

.btnContainer {
  width: 100%;
}

.btnToIntro {
  border: none;
  margin-top: 5%;
  width: 200px;
  height: 44px;
  text-align: center;
  background-color: #3eccb4;
  transition: 500ms;
  margin-left: calc((100% - 200px) / 2);
  text-decoration: none;
}

.btnToIntro:hover {
  cursor: pointer;
  background-color: #257a6c;
  transition: 500ms;
}

.btnToIntro a {
  text-decoration: none;
  color: white;
  line-height: 44px;
}

/* responsive design */

@media screen and (max-width: 767px) {
  .bgContainer {
    height: fit-content;
  }

  .bgImage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  .container {
    height: 60%;
    width: 60%;
  }

  .container h1 {
    font-size: 25px;
  }

  .container h2 {
    font-size: 15px;
  }

  .infoBox div {
    width: 90%;
    font-size: 13px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .iconBox1 {
    display: flex;
    padding-top: 15%;
  }

  .iconBox1 i {
    flex: 1;
    font-size: 25px;
    text-align: center;
  }

  .iconBox2 {
    display: flex;
    padding-top: 5%;
  }

  .iconBox2 span {
    flex: 1;
    font-size: 7.5px;
    text-align: center;
  }

  .btnToIntro {
    margin-top: 10%;
    width: 150px;
    margin-left: calc((100% - 150px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .container {
    height: 7 0%;
    width: 60%;
  }

  .bgContainer {
    height: fit-content;
  }

  .bgImage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  .iconBox1 {
    display: flex;
    padding-top: 15%;
  }

  .iconBox2 {
    display: flex;
    padding-top: 5%;
  }
}
