.HomeContainer {
  margin-top: 69px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.HomeContainer img {
  width: 100%;
  filter: brightness(70%);
  object-fit: cover;
  object-position: 50% 50%;
}

.HomeContnts {
  width: 80%;
  opacity: 0;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.HomeContntsScrolled {
  opacity: 1;
  transition: 5s;
}

.HomeTitle {
  letter-spacing: 0.06em;
  font-size: 119px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.HomeDesc {
  letter-spacing: 0.45em;
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 70px;
}

.HomeBtn {
  width: 191px;
  height: 44px;
  text-align: center;
  background-color: #3eccb4;
  transition: 500ms;
}

.HomeBtn:hover {
  cursor: pointer;
  background-color: #257a6c;
  transition: 500ms;
}

.HomeBtn a {
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  text-decoration: none;
}

.ContactContainer {
  height: 566px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ContactContainer img {
  height: 100%;
  filter: brightness(40%);
  object-fit: cover;
  object-position: 50% 50%;
}

.ContactBox {
  width: 608px;
  margin-top: 99px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ContactInfo {
  opacity: 0;
}

.ContactScrolled {
  opacity: 1;
  transition: 3s;
}

.ContactTitle {
  font-size: 46px;
  color: white;
  text-align: center;
}

.ContactAddress {
  margin-top: 23px;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 4px;
}

.ContactAddress a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.ContactTel {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 4px;
}

.KakaoMap {
  margin-top: 10px;
  width: 608px;
  height: 280px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .HomeContainer {
    margin-top: 80px;
    height: 457px;
  }

  .HomeContainer img {
    height: 100%;
  }

  .HomeTitle {
    font-size: 45px;
    margin-bottom: 9px;
  }

  .HomeDesc {
    font-size: 15px;
    margin-bottom: 46px;
  }

  .HomeBtn {
    width: 160px;
    height: 40px;
  }

  .HomeBtn a {
    font-size: 13px;
    line-height: 40px;
  }

  .ContactBox {
    width: 90%;
  }

  .ContactTitle {
    font-size: 21px;
  }

  .ContactAddress {
    margin-top: 18px;
    font-size: 13px;
    line-height: 1.7em;
  }

  .ContactTel {
    font-size: 13px;
  }

  .ContactBox {
    width: 90%;
  }

  .KakaoMap {
    width: 100%;
  }
}
