.FooterContainer {
  width: 100%;
  height: 96px;
  background-color: #333333;
  display: flex;
  justify-content: center;
}

.FooterBox {
  width: 980px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.FooterLetter {
  color: #bab8b8;
}

.FooterIcon img {
  width: 26px;
  height: 26px;
  margin-left: 15px;
}
